<header>
    <div class="innerWrapper">
        <nav>
            <a *ngFor="let pageName of ['Projects', 'Contact', 'CV-2021']"
                [routerLink]="'hello'"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                {{ pageName }}
                <span>
                    <!-- Underline on hover -->
                </span>
            </a>
        </nav>
        <div class="info">
            <h2>Software Engineer</h2>
            <h1>AJOB KUSTRA</h1>
            <div class="socials">
                <a href="https://github.com/AjobK" target="_blank">
                    <img src="../../assets/icons/github-logo.svg" draggable="false" />
                </a>
                <a href="https://www.linkedin.com/in/ajob-kustra/" target="_blank">
                    <img src="../../assets/icons/linkedin-logo.svg" draggable="false" />
                </a>
            </div>
        </div>
    </div>
    <div class="waves">
        <img src="../../assets/other/wave.svg" class="wave" draggable="false" />
        <img src="../../assets/other/wave.svg" class="wave" draggable="false" />
    </div>
</header>