@import '../../utilities/scss/master.scss';

#contact {
    @include section;

    > h2 {
        @include sectionTitle();
    }

    > .innerWrapper {
        position: relative;
        width: 100%;
        align-self: center;
        max-width: $wrapper-width * 0.65;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        > textarea {
            resize: vertical;
            min-height: 200px;
            max-height: 500px;
        }

        > div {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;

            @include mobile-all {
                justify-content: center;
            }

            > button {
                @include baseButton();

                &:first-child {
                    margin-right: 20px;
                    color: rgba(0, 0, 0, 0.5);

                    &:disabled {
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                &:last-child {
                    @include baseButton($standard: true);
                }
                

                > .contactIconSending {
                    margin-left: 5px;
                }
            }
        }

        > :is(input, textarea) {
            padding: 15px;
            border: 0;
            background-color: rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
            font-family: 'Poppins';
            font-size: 12pt;
            border-radius: 5px;
        }

        > :is(input, textarea, div) {
            width: 100%;
        }
    }
}

.formSent {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 20px rgba($primary-color, 0.2);
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;

    > p {
        text-align: center;
        margin: 10px 0 40px 0;
    }

    > button {
        @include baseButton($standard: false);
        color: rgba(0, 0, 0, 0.5);

        &:disabled {
            color: rgba(0, 0, 0, 0.5);
        }

        &:not(:disabled):hover {
            color: rgba(0, 0, 0, 1);
        }
    }
    
    .iconsWrapper {
        position: relative;

        > .contactIcon {
            font-size: 64pt;
            text-shadow: 0 0 20px red;
            color: $primary-color-darker;

            &Extra {
                position: absolute;
                top: 0;
                right: -25px;
                font-size: 24pt;
                color: $secondary-color;
                
                animation-name: float;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
    }
}

.hide {
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}
