// Old Colors
// $primary-color: #7600F4;
// $primary-color-darker: #5B00BC;
// $secondary-color: #E16AEF;

// New Colors
$primary-color: #15163d;
$primary-color-darker: rgb(22, 22, 39);
$secondary-color: #19a8cc;

// Sizes
$wrapper-width: 1200px;
