@import '../../utilities/scss/master.scss';

:host > section {
    margin: 80px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: $wrapper-width;

    > h2 {
        @include secionTitle();
    }

    > .projectsOverview {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 25px;
    }
}