<section id="projects">
    <h2>
        Projects
    </h2>
    <section class="projectsOverview">
        <app-project-block
            [imageSource]="'../../../assets/project-images/social-media-monitoring.png'"
            [title]="'Social Media Monitoring'"
            [type]="'Client project'"
            [description]="
                'I worked on a live scraper application for the dutch police. This app is made with Angular, NodeJS and MongoDB. ' +
                'I also did the entire UI design (including icons) for it. ' +
                'The purpose of this app was giving police officers insight into all kinds of conflicts, ' +
                'such as riots. It is currently running on a raspberry Pi at one of the police stations in Leiden.'
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/arag.png'"
            [title]="'ARAG Vouchercheck'"
            [type]="'Client project'"
            [description]="
                'This is a project for the insurance company ARAG. They needed an efficient way for customers to get ' +
                'legal advice. Before we made this application, they walked their clients through all the legal forms on the phone. ' +
                'Now these customers can get most of the necessary advice through an online decision tree.'
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/aanmelder.jpg'"
            [title]="'aanmelder.nl'"
            [type]="'Internship'"
            [description]="
                'During my internship at aanmelder.nl I got to work on their event management tool. This was a great ' +
                'learning experience, since it was my first time working in a codebase with over 1m lines and a big ' +
                'customer base. I mainly used python and django here.'
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/rsm.png'"
            [title]="'ReadySetMask'"
            [type]="'School project'"
            [description]="
                'This project was my first introduction to machine learning and computer vision. It was also a lot of ' +
                'fun, mainly because we took a pretty simple concept and turned it into a game. In this game you drive ' +
                'a car around a race track using facemask detection and hand gestures. For this project we used python, ' +
                'opencv, tensorflow and keras. We also used keggle for training data.' 
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/giz.jpg'"
            [title]="'Work Pamoja'"
            [type]="'Client project'"
            [description]="
                'At one of my internships I worked on a collaboration project between GIZ, a part of the German government, ' +
                'and small Kenyan business. The purpose of this project was giving Kenyan companies a portal on which they ' +
                'can promote their business to european investors. In this project I worked on the back-end with Laravel ' +
                'and on the front-end with React.' 
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/seaqull.png'"
            [title]="'Seaqull'"
            [description]="
                'This is a social media platform built with React, SCSS, NodeJS, PostgreSQL and a lot more. I still work ' +
                'on this project as a product owner and full-stack developer with a team of 6 people. We plan to deploy ' +
                'this application and advertise it in the very near future.' 
            "
        >
        </app-project-block>

        <app-project-block
            [imageSource]="'../../../assets/project-images/soyboy.png'"
            [title]="'Soyboy'"
            [description]="
                'My first attempt at making a game with unity within a week! ' +
                'It\'s a simple wave clearing game with break rooms and upgrades. I worked a lot with C# during this ' +
                'project, which was a lot of fun. I also made the pixelart for it.'
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/ipose-balie.png'"
            [title]="'IPOSE Balie'"
            [type]="'Client project'"
            [description]="
                'I made this product for the university of applied sciences Leiden. This is a student queue management ' +
                'tool for teachers. It was especially useful during the corona period, since there was no effective way ' +
                'of handling queues digitally. This was for example a big problem when doing assessments. My tool proved ' +
                'to be very effective and was used in multiple subjects to manage queues. It is made with Angular and NodeJS' 
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/replicart.jfif'"
            [title]="'Replicart'"
            [type]="'Personal project'"
            [description]="
                'To get better at making management applications with masonry layouts I made replicart. This is a mock ' +
                'application on which you can buy your favourite art replicas. Administrators can add, edit and remove replicas.' +
                'This was made with Angular, NodeJS and PostgreSQL.' 
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/albion.jpg'"
            [title]="'Albion discord bot'"
            [type]="'Personal project'"
            [description]="
                'I like playing MMORPG\'s, and for a long time Albion was one of my favourites. That is why I made a discord ' +
                'bot with which you can check the game market, organise guild events, view player and guild rankings ' +
                'and all kinds of other things. Multiple guilds have used it.'
            "
        >
        </app-project-block>
        
        <app-project-block
            [imageSource]="'../../../assets/project-images/sushigo.png'"
            [title]="'SushiGoParty'"
            [type]="'School project'"
            [description]="
                'A digital socket based recreation of the card game SushiGoParty. It worked well, but could have used ' +
                'a better stack. It is made with JavaFX and firebase. I also made all the graphics.'
            "
        >
        </app-project-block>
    </section>
</section>