@import '../../utilities/scss/master.scss';

:host > section {
    @include section;

    > h2 {
        @include sectionTitle();
    }

    > form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $wrapper-width * 0.65;

        > textarea {
            resize: vertical;
            min-height: 200px;
            max-height: 500px;
        }

        > div {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;

            @include mobile-all {
                justify-content: center;
            }

            > button {
                @include baseButton();

                &:first-child {
                    margin-right: 20px;
                    color: rgba(0, 0, 0, 0.5);

                    &:disabled {
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                &:last-child {
                    @include baseButton($standard: true);
                }
            }
        }

        > :is(input, textarea) {
            padding: 15px;
            border: 0;
            background-color: rgba(0, 0, 0, 0.1);
            margin-bottom: 15px;
            font-family: 'Poppins';
            font-size: 12pt;
            border-radius: 8px;
        }

        > :is(input, textarea, div) {
            width: 100%;
        }
    }
}