img {
    width: 80%;
}

:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fullMain {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        margin-bottom: 20px;
    }
}